<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>업체 등록</title>
<!-- axicon 사용하기 -->
<link rel="stylesheet" type="text/css" href="axicon/axicon.min.css" />
<!-- 부트스트랩을 사용하기 위한 준비 시작 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 부트스트랩을 사용하기 위한 준비 끝 -->
<!-- 다음 우편번호 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- 사용자 정의 자바스크립트 함수를 추가한다 -->
<script type="text/javascript" src="js/commons.js"></script>
<script type="text/javascript">
	function daumPostcode() {
		new daum.Postcode({
			oncomplete : function(data) {
				var add1 = ''; // 주소 변수

				//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
					add2 = data.roadAddress;
					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('postcode').value = data.zonecode;
					document.getElementById("add2").value = add2;
				} else { // 사용자가 지번 주소를 선택했을 경우(J)
					add1 = data.jibunAddress;
					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('postcode').value = data.zonecode;
					document.getElementById("add1").value = add1;
				}
			}
		}).open();
	};
	
	var areacode={
			"1":"서울특별시",
			"2":"인천광역시",
			"3":"경기도",
			"4":"강원도",
			"5":"대전광역시",
			"6":"세종특별차치시",
			"7":"충청남도",
			"8":"충청북도",
			"9":"전라북도",
			"10":"광주광역시",
			"11":"전라남도",
			"12":"대구광역시",
			"13":"부산광역시",
			"14":"울산광역시",
			"16":"경상북도",
			"17":"경상남도",
			"18":"제주특별자치도"
			
	};
	var detailcode={
			"1":{"101":"서초구","102":"구로구","103":"강북구","104":"은평구","105":"성동구","106":"강동구",
				"107":"마포구","108":"종로구","109":"중구","110":"용산구","111":"광진구","112":"동대문구",
				"113":"중랑구","114":"성북구","115":"도봉구","116":"노원구","117":"서대문구","118":"양천구",
				"119":"강서구","120":"금천구","121":"영등포구","122":"동작구","123":"관악구","124":"강남구",
				"125":"강동구"},
				
			"2":{"201":"강화군","202":"옹진군","203":"중구","204":"남동구","205":"동구","206":"남구",
				"207":"미추홀구","208":"연수구","209":"북구","210":"부평구","211":"계양구","212":"서구"},
				
			"3":{"301":"가평군","302":"포천시","303":"고양시","304":"양평군","305":"남양주시","306":"양주시",
				"307":"용인시","308":"안산시","309":"파주시","310":"연천군","311":"화성시","312":"광주시",
				"313":"안성시","314":"광명시","315":"구리시","316":"김포시","317":"동두천시","318":"여주시",
				"319":"이천시","320":"평택시","321":"수원시","322":"의정부시","323":"시흥시","324":"안양시",
				"325":"하남시","326":"성남시","327":"오산시","328":"의왕시","329":"군포시","330":"부천시",
				"331":"송탄시","332":"과천시","333":"미금시","334":"이천시","335":"광주군","336":"강화군",
				"337":"옹진군"},
				
			"4":{"401":"강릉시","402":"영월군","403":"고성군","404":"양양군","405":"동해시","406":"삼척시",
				"407":"양구군","408":"원주시","409":"인제군","410":"정선군","411":"철원군","412":"춘천시",
				"413":"평창군","414":"홍천군","415":"화천군","416":"횡성군","417":"속초시","418":"태백시",
				"419":"울진군","420":"원성군","421":"원주군","422":"명주군"},
				
			"5":{"501":"동구","502":"중구","503":"서구","504":"유성구","505":"대덕구"},
			
			"6":{"601":"연기면","602":"금남면","603":"전동면","604":"조치원읍","605":"연동면","606":"부강면",
				"607":"장군면","608":"연서면","609":"전의면","610":"소정면"},
				
			"7":{"701":"공주시","702":"태안군","703":"금산군","704":"논산시","705":"당진시","706":"보령시",
				"707":"부여군","708":"서산시","709":"서천군","710":"아산시","711":"예산군","712":"천안시",
				"713":"청양군","714":"홍성군","715":"대전시","716":"대천시","717":"온양시","718":"계룡시",
				"719":"대덕군","720":"연기군","721":"공주군","722":"논산군","723":"당진군"},
				
			"8":{"801":"괴산군","802":"단양군","803":"보은군","804":"영동군","805":"옥천군","806":"음성군",
				"807":"제천시","808":"진천시","809":"청주시","810":"충주시","811":"증평군","812":"중원군",
				"813":"제원군"},
				
			"9":{"901":"고창군","902":"군산시","903":"김제시","904":"남원시","905":"무주군","906":"부안군",
				"907":"순창군","908":"완주군","909":"익산시","910":"임실군","911":"장수군","912":"정읍시",
				"913":"진안군","914":"금산군","915":"전주시","916":"옥구군"},
				
			"10":{"1001":"북구","1002":"서구","1003":"광산구","1004":"동구","1005":"남구"},
			
			"11":{"1101":"강진군","1102":"고흥군","1103":"곡성군","1104":"광양시","1105":"구례군","1106":"나주시",
				"1107":"담양군","1108":"무안군","1109":"보성군","1110":"순천시","1111":"신안군","1112":"여수시",
				"1113":"영광군","1114":"영암군","1115":"완도군","1116":"장성군","1117":"장흥군","1118":"함평군",
				"1119":"해남군","1120":"화순군","1121":"광주시","1122":"금성시","1123":"송정시","1124":"광산군",
				"1125":"목포시","1126":"여천시","1127":"동광양시","1128":"여천군","1129":"승주군","1130":"진도군"},
				
			"12":{"1201":"수성구","1202":"달성군","1203":"동구","1204":"중구","1205":"서구","1206":"남구",
				"1207":"북구"},
				
			"13":{"1301":"기장군","1302":"중구","1303":"서구","1304":"동구","1305":"영동구","1306":"부산진구",
				"1307":"동래구","1308":"남구","1309":"북구","1310":"해운대구","1311":"사하구","1312":"금정구",
				"1313":"강서구","1314":"연제구","1315":"수영구","1316":"사상구"},
				
			"14":{"1401":"울주군","1402":"동구","1403":"북구","1404":"중구","1405":"남구"},
		
			"16":{"1601":"경산시","1602":"경주시","1603":"고량군","1604":"구미시","1605":"군위군","1606":"김천시",
				"1607":"문경시","1608":"봉화군","1609":"상주시","1610":"성주군","1611":"안동시","1612":"영덕군",
				"1613":"영양군","1614":"영주시","1615":"영천시","1616":"예천군","1617":"울릉군","1618":"울진군",
				"1619":"청도군","1620":"칠곡군","1621":"포항시","1622":"신안동시","1623":"달성군","1624":"의성군",
				"1625":"안동군","1626":"청송군","1627":"영일군","1628":"월성군","1629":"금릉군","1630":"선산군",
				"1631":"상주군","1632":"문경군","1633":"영풍군"},
				
			"17":{"1701":"거제시","1702":"거창군","1703":"고성군","1704":"김해시","1705":"남해시","1706":"밀양시",
				"1707":"사천시","1708":"산청군","1709":"양산시","1710":"의령군","1711":"진주시","1712":"창녕군",
				"1713":"창원시","1714":"통영시","1715":"하동군","1716":"함안군","1717":"함양군","1718":"합천군",
				"1719":"동래군","1720":"마산시","1721":"진해시","1722":"충무시","1723":"삼천포시","1724":"장승포시",
				"1725":"진양군"},
				
			"18":{"1801":"제주시","1802":"서귀포시"},
		}
			/*<![CDATA[*/
			var a1 = [[${areacode}]];
			var a2 = [[${detailcode}]];
			/*]]>*/
		
		function makeJson(key,value){
				var json ={}
				json["areacode"] = '[[${areacode}]]';
				json["detailcode"] = '[[${detailcode}]]';
				json[key] = value;
				return json;
			}
		selectItem=[];
	$(function(){
		// 대항목 표시
		for(key in areacode){
			$("#areacode").append("<option value='"+key+"'"+ (a1==key ?  " selected='selected' " : "") +" >" + areacode[key] + "</option>");
		}
		// 처음에는 첫번째 소항목 표시
		for(key in detailcode[a1]){
			$("#detailcode").append("<option value='"+key+"'"+ (a2==key ?  " selected='selected' " : "") +">" + detailcode[a1][key] + "</option>");
		}
		
		// 대항목 변경시 소항목 변경
		$("#areacode").change(function(){
			var key = $(this).val();
			// alert(key);
			$("#detailcode").empty();
			for(key2 in detailcode[key]){
				$("#detailcode").append("<option value='"+key2+"'>" + detailcode[key][key2] + "</option>");
			}
			// 소항목 변경시 처리
			$("#detailcode").change(function(){
				var selectKey = $(this).val();
				var value = areacode[key] + '\n' + detailcode[key][selectKey];
				$("#select").html(value)
			});
			
		});
	});
	
	//area1이 바뀌면 그값을 가져와서 ajax한다.
	$(document).on('change','#areacode',function(){
		var areacode = $(this).val();
		$.ajax({
			url : "CompanyInsert", <!-- controller에 mapping 되어있는 주소를 맞춰주는 거  -->
			type : "GET",   <!-- method = RequestMethod.GET 에 맞춰서 -->
			data : {"areacode":areacode},
			success : function(data){	
				
			}
		})
	});
	
	
	$(document).on('change','#detailcode',function(){ <!--document 태그들의 이벤트  -->
		var areacode = document.getElementById("areacode").value;
		var detailcode = $(this).val();
	});
</script>
<style type="text/css">
* {
	margin: 0;
}

.flex-div {
	width: 100%;
	height: auto;
	background-color: #E4E6EF;
	display: flex;
	justify-content: center;
}

.outer-div {
	width: 50%;
	height: 100%;
	background-color: #FBF5EF;
	justify-content: center;
}

.headerMiniMenu {
	margin: 0;
	padding-right: 5px;
	float: right;
	width: 20%;
	height: 45px;
}

.headerMiniMenuUl {
	list-style-type: none;
}

.headerMiniMenuLi {
	float: right;
	padding: 1px;
	font-size: 5pt;
}

.Menu {
	padding: 1%;
	height: 50px;
	align-content: left;
}

.ul {
	list-style-type: none;
}

.li {
	float: left;
	margin: 0;
	padding-right: 3px;
}

.mainDiv {
	/* 	background: #fff; */
	width: 98%;
	height: 12%;
	margin: 1%;
	/* 	border: 1px solid black; */
	border-radius: 15px;
	padding: 1%;
	box-sizing: border-box;
}

table {
	width: 95%;
	margin: auto;
	padding: 5px;
}

th {
	padding: 5px;
	border: 1px solid gray;
	background-color: black;
	color: white;
	text-align: center;
}

td {
	padding: 5px;
	border: 1px solid gray;
	text-align: center;
}

.title {
	color: white;
	font-size: 18pt;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

#body-wrapper {
	padding: 8px 16px;
	background: linear-gradient(to bottom, rgba(26, 111, 118, 1) 50%,
		rgba(40, 30, 101, 1) 100%, rgba(125, 185, 232, 1) 100%)
}

.container {
	background-color: black;
	/* 	margin-top: 70%; */
}

.col-sm-2 {
	color: white;
}

.sub_title {
	border: none;
	text-align: right;
}
</style>
</head>
<body>
	<div class="flex-div">
		<div class="outer-div">
			<header style="height: 60px;">
				<div style="float: left; width: 80%;">
					<h2 class="btn btn-dark"
						style="width: 30%; height: 100%; font-size: 20pt; padding: auto; min-width: 180px;"
						th:onclick="'location.href=\''+ @{adminMain} + '\''">관리자모드</h2>
				</div>

				<div class="headerMiniMenu">
					<ul class="headerMiniMenuUl" style="min-width: 85px;">
						<li class="headerMiniMenuLi"><a href="/logout">로그아웃</a></li>
						<li class="headerMiniMenuLi"><a href="/">사이트메인</a></li>
					</ul>
				</div>
			</header>

			<div class="Menu">
				<ul class="ul">
					<li class="li"><button class="btn btn-danger"
							th:onclick="'location.href=\''+ @{MemberList} + '\''">회원관리</button></li>
					<li class="li"><button class="btn btn-danger"
							th:onclick="'location.href=\''+ @{CompanyList} + '\''">업체관리</button></li>
					<li class="li"><button class="btn btn-danger"
							th:onclick="'location.href=\''+ @{list} + '\''">게시판관리</button></li>
				</ul>
			</div>

			<div class="mainDiv">
				<div class="clo-bg">
					<div class="container"
						style="border: 1px solid gray; padding: 15px; margin-top: 30px; border-radius: 30px;">
						<form action="CompanyUpdateOk" method="post">
							<!-- 여기에서 몇개를 숨겨서 가지고 가자 -->
							<input type="hidden" name="p" th:value="${p }" /> <input
								type="hidden" name="s" th:value="${s }" /> <input type="hidden"
								name="b" th:value="${b }" /> <input type="hidden" name="mode"
								th:value="1" />
							<div class="title">업체 등록</div>
							<div class="mb-3 row">
								<label for="name" class="col-sm-2 col-form-label">업체명</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="name" name="name"
										placeholder="업체명입력" required="required">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="postcode" class="col-sm-2 col-form-label">우편번호</label>
								<div class="col-sm-3">
									<input class="form-control" type="text" name="postcode"
										id="postcode" required="required">
								</div>
								<div class="col-sm-3">
									<input type="button" class="btn-check" id="zipCodebtn"
										onclick="daumPostcode();"> <label
										class="btn btn-outline-light" for="zipCodebtn" onclick="daumPostcode();">우편번호찾기</label>
								</div>
							</div>
							<div class="mb-3 row">
								<label for="add1" class="col-sm-2 col-form-label">지번주소</label>
								<div class="col-sm-10">
									<input class="form-control" type="text" name="add1" id="add1"
										placeholder="지번주소" required="required" onclick="daumPostcode();">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="add2" class="col-sm-2 col-form-label">도로명주소</label>
								<div class="col-sm-10">
									<input class="form-control" type="text" name="add2" id="add2"
										placeholder="도로명주소" required="required" onclick="daumPostcode();">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="eco" class="col-sm-2 col-form-label">자연환경</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="eco" name="eco"
										placeholder="자연환경" required="required">
								</div>
								<div class="col-sm-2 col-form-label" id="msg"></div>
								<label for="areacode" class="col-sm-2 col-form-label">지역코드</label>
<!-- 								<div class="col-sm-3"> -->
									<select class="col-sm-3" name="areacode" id="areacode"></select> 
<!-- 									<input type="text" class="form-control" id="areacode" -->
<!-- 										name="areacode" placeholder="지역코드" required="required"> -->
<!-- 								</div> -->
							</div>
							<div class="mb-3 row">
								<label for="roomtype" class="col-sm-2 col-form-label">룸타입</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="roomtype"
										name="roomtype" placeholder="룸타입" required="required">
								</div>
								<div class="col-sm-2 col-form-label" id="msg"></div>
								<label for="detailcode" class="col-sm-2 col-form-label">상세지역코드</label>
<!-- 								<div class="col-sm-3"> -->
									<select class="col-sm-3" name="detailcode" id="detailcode"></select> 
<!-- 									<input type="text" class="form-control" id="detailcode" -->
<!-- 										name="detailcode" placeholder="상세지역코드" required="required"> -->
<!-- 								</div> -->
							</div>
							<div class="mb-3 row">
								<label for="theme" class="col-sm-2 col-form-label">테마</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="theme" name="theme"
										placeholder="테마" required="required">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="latitude" class="col-sm-2 col-form-label">위도</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="latitude"
										name="latitude" placeholder="위도" required="required">
								</div>
								<div class="col-sm-2 col-form-label" id="msg"></div>
								<label for="logitude" class="col-sm-2 col-form-label">경도</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="longitude"
										name="longitude" placeholder="경도" required="required">
								</div>
							</div>

							<div class="mb-3 row">
								<div class="col-sm-12" style="text-align: right;">
									<input type="submit" class="btn btn-outline-light"
										th:onclick="'location.href=\''+ @{CompanyUpdateOk} + '\''"
										value="저장"> <input type="button"
										class="btn btn-outline-light"
										th:onclick="'location.href=\''+ @{CompanyList} + '\''"
										value="목록으로">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div th:replace="/decorators/footer.html"></div>
		</div>
	</div>
</body>
</html>